/* probando los comentarios
 control + shift + 7 
 */
.header {
  background-color: #E5E1E0;
  color: #2F2C32;
  /* border:  20px solid #B47209; */
  display: flex;
  justify-content: space-between;
  height: 140px;
}
.header a {
  color: #2F2C32;
  text-decoration: none;
  align-items: center;
  display: flex;
  height: inherit;
  margin: 10px;
  padding: 0px 10px;
}
.menu{
  height: inherit;
}
.header ul{
  display: flex;
  height: inherit;
}
.header ul li{
  height: inherit;
}
.container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  /* box-shadow: inherit; */
}
ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
figure{
  margin: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E5E1E0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  color: #E5E1E0;
  font-weight: normal;
  /* font-style: italic; */
}
h1 {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -.2px;
  margin: 0;
  /* margin-right: 600px; */
  /* text-transform: uppercase;
  text-decoration: dashed; */
}
h1 strong{
  color: #D9BA06;
}
h2{
  color: #2F2C32;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.hero{
  height: 300px;
  /* background-image: url('../imagenes/pretencioso.jpg'); */
  background-color: #2F2C32;
  /* background-size: 300px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image{
  object-fit: cover;
}
.portfolio{
  background: #E5E1E0;
  padding: 20px;
  /* border-top: 8px solid #1b095b; */
}
.project{
  /* border: 10px solid #B47209; */
  border-radius: 10px;
  /* border-bottom-right-radius: 50px; */
  /* border-top-right-radius: 180px; */
  /* width: 600px; */
  /* margin: 10px; */
  margin-bottom: 25px;
  padding: 20px;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  background: grey;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
}
.project-title{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}
.project-subTitle,
.project-date,
.project-url{
  margin: 10px 0;
}
.project-description{
  font-size: 20px;
  text-align: justify;
}
.project strong{
  font-family: 'Fjalla One', sans-serif;
}
.project a {
  text-decoration: none;
  color: white;
}
.project-detail{
  width: 450px;
  margin: 10px;
}
p {
  color: #2F2C32;
  font-weight: bold;
}
.experience-list-title{
  margin: 20px;
}
.experience-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.experience{
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 15px;
  width: 480px;
  /* background-color: #B47209; */

}
.experience img{
  width: 480px;
  height: 310px;
  /* object-fit: cover permite cargar la imagen a tamaño real pero solo podras ver las dimensiones definidas */
  /* object-fit: cover;  */
  border-radius: 10px;
}
.experience-detail{
  margin: 20px;
  /* margin-top: -40px; */
  position: relative;
  padding: 20px;
  background-color: #2f2c32;
  text-align: center;
}
.experience-description{
  text-align: left;
}
.experience-url{
  border: 1px solid white;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.contact{
  background-color: grey;
  /* color: #1b095b; */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.social-link.facebook{
  background-image: url(../imagenes/facebook.svg);
}
.social-link.linkedin{
  background-image: url(../imagenes/linkedin.svg);
}
.social-link.git{
  background-image: url(../imagenes/gitlab.svg);
}
.social-link.instagram{
  background-image: url(../imagenes/instagram.svg);
}
.form-email input{
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url(../imagenes/correo.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button{
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  /* padding: 10px 0px;  */
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  height: 30px;
  justify-content: center;
}
.form-email h3{
  font-family: 'Source Sans Pro', sans-serif;
}
.footer{
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer div p{
  color: #2F2C32;
}
.footer img{
  vertical-align: middle;
}
.footer a{
  color: #2F2C32;
}
@media screen and (max-width: 980px){
  .project{
    width: 500px;
    margin-left: 180px;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "texto ."
                         "img .";
  }
  .project-imageContainer{
    grid-area: img;
  }
  .project-detail{
    grid-area: texto;
  }
  .experience-list-title{
    margin-left: 300px;
  }
  .title-portafolio{
    margin-left: 180px;
  }
}